 /*common setting for css*/

@charset "utf-8";
html,body {height: 100%;width: 100%;overflow: hidden;}
body,input,button {font-family: 'Neo Sans Std';}
input {color:#fff; font-size:30px; line-height:36px; outline:0;}
/*body {font-size:30px; color:#fff; line-height:36px; background:#333;}*/
h1,h2,h3,h4,h5 {font-size:33px; line-height:33px;}
li {list-style:none;}
ul,li,h1,h2,h3,h4,h5,ol,dl,dt,dd,p,body,form {margin:0; padding:0;}
dt	{color:#333;}
img {border:0; vertical-align:middle; outline:0;}
a{outline:0; text-decoration:none;}
button {outline:0;}
a:link{color:#666;}
a:visited{color:#666;}
a:active{color:#666;}
body,html {height:100%; width:100%;}
button {cursor:pointer; border:0;}
textarea {color:#fff;}
table {border-collapse:separate;}
::selection {background:transparent;}
b,strong,th,h1,h2,h3,h4,h5 {font-weight:normal;}


#wrapper{
	font-size: 80%; font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;	
}

.tabs_head { list-style-type: none; margin: 30px 0 0 0; padding: 0 0 0.3em 0; }
.tabs_head li { display: inline; }
.tabs_head li a { color: #42454a; background-color: #dedbde; border: 1px solid #c9c3ba; border-bottom: none; padding: 0.3em; text-decoration: none; }
.tabs_head li a:hover { background-color: #f1f0ee; }
.tabs_head li a.selected { color: #000; background-color: #f1f0ee; font-weight: bold; padding: 0.7em 0.3em 0.38em 0.3em; }
.tabs_body {width:100%; height: 90%;}

.tabs_body > .tabContent { border: 1px solid #c9c3ba; padding: 0.5em; background-color: #f1f0ee; width:100%; height: 90%;}
.tabContent{display: none;}
.tabContent.show { display: block;}

.moim_item{
	width: 200px;
	display:inline-block;
	height: 180px;

}

.moim_item img{
	content:url("../img/wibee.jpg");
}
.moim_name{
	width: 200px;
	height: 130px;
	font-size: 30px;
}

.moim_desc{
	height: 30px;	
	font-size: 10px;
}